$light-beige: #fefaf9;
$beige: #eae4e2;
$dark-beige: #d0ced0;
$light-blue: #add1eb;
$medium-blue: #98b4cb;
$dark-blue: #6693aa;
$darker-blue: #163e52;
$medium-blue-translucent: rgba(152, 180, 203, 0.5);