body {
  font-family: 'Work Sans', sans-serif;
}

.service-image {
  height: 100px;
  width: 100px;
  border: 5px solid $darker-blue;
  border-radius: 0.5em;
}

.service-tile {
  border: 2px solid $beige;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2em;
  margin-bottom: 1em;
  background-color: $light-beige;
  a {
    font-size: 2em;
    font-weight: bold;
    padding-left: 1em;
  }
}

.index-header {
  background-color: $darker-blue;
  color: #fefaf9;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.search-input{
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.8em;
  height: 1.6em;
  margin-top: 0.5em;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $medium-blue-translucent;
  border-radius: 1em;
  color: $darker-blue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1em;
}

.weather-icon {
  margin-top: 0.4em;
  margin-right: 0.4em;
}