@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import './stylesheets/Colors.scss';
@import './stylesheets/ShowPage.scss';
@import './stylesheets/ServicesIndex.scss';
@import'./stylesheets/UserForm.scss';
@import'./stylesheets/ReviewTile.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Work+Sans&display=swap');
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.sign-in-link{
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 2em;  
}

.submit-button{
  border: none;
  padding: .5em;
  border-radius: 0.5em;
  background-color: $darker-blue;
  color: white;
}

.submit-button:hover{
  cursor: pointer;
  background-color: $dark-blue;
}

.bold {
  font-weight: bold;
}